{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    {% for resa in resas %}
    <div class="ligne-wrapper">
        <div>Id : {{ resa.id }}</div>
        <div>Id Trajet : {{ resa.trajet.getId() }}</div>
        <div>Nombre de passagers : {{ resa.nbPersonnes }}</div>
        <div>Payé : {{ resa.paye == 1 ? "oui" : "non" }}</div>
    </div>
    <a class="but shadow" href={{ path("reservation.supprimer", {'id':resa.id}) }}>Supprimer</a>
    {% else %}
    Vous n'avez aucune réservation.
    {% endfor %}

{% endblock %}