{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block soustitre %}{% trans %}reservations.self{% endtrans %}{% endblock %}
{% block body %}
    {% for resa in app.user.getReservations() %}
    <div class="ligne-wrapper">
        <div>{% trans %}reservations.id{% endtrans %} : {{ resa.id }}</div>
        <div>{% trans %}trips.id{% endtrans %} : <a href={{ path("trajet.detail", {'id':resa.trajet.getId()}) }}>{{ resa.trajet.getId() }}</a></div>
        <div>{% trans %}reservations.people{% endtrans %} : {{ resa.nbPersonnes }}</div>
                <div>
        {% if resa.paye %}
            {% trans %}reservations.paid{% endtrans %}
        {% else %}
            <a href={{ path("reservation.payer", {'id':resa.id}) }}>{% trans %}reservations.pay{% endtrans %}</a>
        {% endif %}
        </div>

    </div>
    <a class="but shadow" href={{ path("reservation.supprimer", {'id':resa.id}) }}>{% trans %}base.delete{% endtrans %}</a>
    {% else %}
    {% trans %}reservations.none{% endtrans %}
    {% endfor %}

{% endblock %}
