<div class="menu-bar">
    {% if app.user != null %}
        <a class="but shadow" href={{ path("app_logout") }}>Se déconnecter</a>
        <a class="but shadow" href={{ path("profil.self") }}>Profil</a>
        <a class="but shadow" href={{ path("reservation") }}>Vos Réservations</a>
        <a class="but shadow" href={{ path("commentaire") }}>Vos Commentaires</a>
        <a class="but shadow" href={{ path("trajet.self") }}>Vos Trajets</a>
    {% else %}
        <a class="but shadow" href={{ path("app_login") }}>Se connecter</a>
        <a class="but shadow" href={{ path("register") }}>Créer un compte</a>
    {% endif %}
        <a class="but shadow" href={{ path("trajet") }}>Trajets</a>

    {% if is_granted("ROLE_ADMIN") %}
        <a class="but shadow" href={{ path("admin") }}>Admin</a>
    {% endif %}
</div>