{% extends "base.html.twig" %}

{% block soustitre %}
{% trans %}trips.details{% endtrans %} {{ trajet.pointDepart }} -> {{ trajet.pointArrivee }},
{{ trajet.date.format("D d M Y") }} {% trans %}base.at{% endtrans %} {{ trajet.date.format("h:i") }}
{% endblock %}


{% block body %}

    <div class="trajet-wrapper">
        <div> {% trans %}trips.id{% endtrans %} : {{ trajet.id }} </div>
        <div> {% trans %}trips.driver{% endtrans %} : {{ trajet.conducteur }} </div>
        <div> {% trans %}trips.plces{% endtrans %} : {{ trajet.nbPlaces }} </div>
        <div> {% trans %}trips.remaining{% endtrans %} : {{ trajet.nbPlaces - resastrajet }} </div>
        <div> {% trans %}trips.departure{% endtrans %} : {{ trajet.pointDepart }} </div>
        <div> {% trans %}trips.arrival{% endtrans %} : {{ trajet.pointArrivee }} </div>
        <div> {% trans %}trips.time{% endtrans %} : {{ trajet.tempsTrajet }}</div>        
        <div> {% trans %}trips.vehicle{% endtrans %} : {{ trajet.vehicule }}</div>        
    </div>
{% if app.user == trajet.conducteur %}
    {% if trajet.getDate().format("Ymdhis") > date().format("Ymdhis") %}
    <a class="but" href={{ path("trajet.supprimer", {"id" : trajet.id}) }}>{% trans %}base.delete{% endtrans %}</a>
    {% endif %}

    <h2>{% trans %}reservations.title{% endtrans %}</h2>
    {% for resa in trajet.reservations %}

    <div class="ligne-wrapper">
        <div> {% trans %}reservations.id{% endtrans %} : {{ resa.id }} </div>
        <div> {% trans %}reservations.reserver{% endtrans %} : <a href={{ path("profil", {'id':resa.passager.getId()}) }}>{{ resa.passager }}</a> </div>
        <div> {% trans %}reservations.people{% endtrans %} : {{ resa.nbPersonnes }} </div>
        
        <div> {% trans %}reservations.paid{% endtrans %} :
        {% if resa.Paye == 1 %}
        {% trans %}base.yes{% endtrans %}
        {% else %}
        {% trans %}base.no{% endtrans %}
        {% endif %}
        </div>
    </div>

    {% else %}
    {% trans %}reservations.none{% endtrans %}
    {% endfor %}
{% else %}
    {% if app.user != trajet.conducteur and trajet.getDate().format("Ymdhis") > date().format("Ymdhis") %}
    <a class="but shadow" href={{ path("reservation.ajout", {'trajetid':trajet.id}) }}>{% trans %}reservations.book{% endtrans %}</a>
    {% endif %}
{% endif %}
    <h2>{% trans %}comments.title{% endtrans %}</h2>
    {% if app.user != trajet.conducteur %}
    <a class="but shadow" href={{ path("commentaire.ajout", {'trajetid':trajet.id}) }}>{% trans %}comments.post{% endtrans %}</a>
    {% endif %}

{% for comm in trajet.commentaires %}

<div class="ligne-wrapper">
    <div> {% trans %}comments.poster{% endtrans %} : <a href={{ path("profil", {'id':comm.posteur.getId()}) }}>{{ comm.posteur }}</a> </div>
    <div> {% trans %}comments.score{% endtrans %} : {{ comm.note }}/5</div>
    <div> {% trans %}comments.message{% endtrans %} : {{ comm.message }} </div>
    <div> {% trans %}comments.posted{% endtrans %}: {{ comm.datePost.format('d M Y') }} </div>
</div>

{% else %}
{% trans %}comments.none{% endtrans %}
{% endfor %}

{% endblock %}
