{% extends 'base.html.twig' %}

{% block soustitre %}Liste des trajets{% endblock %}
{% block body %}
    {% for trajet in trajets %}
    <a class="ligne-wrapper shadow" href={{ path("trajet.detail", {'id' : trajet.id}) }}>
        <div> Id Trajet : {{ trajet.id }} </div>
        <div> Trajet : {{ trajet.pointDepart }} -> {{ trajet.pointArrivee }}</div>
    </a>
    {% else %}
        Aucun trajet n'est disponible.
    {% endfor %}
    <a class="but shadow" href={{ path("trajet.ajout") }}>Ajouter un trajet</a>
{% endblock %}